<div class="row" *ngIf="category">
    <div class="col-12">
        <h2 class="d-inline-block">{{ category }}</h2>
    </div>
    <div class="col-lg-4" *ngFor="let story of stories">
        <div class="card mb-4 shadow-sm">
            <img src="{{ story.feature_img }}" width="100%" height="100%" />
            <div class="card-body">
                <h5 class="mb-0">
                    <a [routerLink]="['/story', story.id]">{{
                        story.name
                        }}</a>
                </h5>
                <small class="text-muted">{{story.created_time}}</small>
                <p class="card-text">{{truncate(story.content,20)}}</p>
            </div>
        </div>
    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li><button type="button" class="page-link" (click)="onClickPagination(1)">First</button></li>
        <li *ngFor="let element of pages" class="page-item" [ngClass]="{'active':element == currentPage}">
            <button type="button" class="page-link" (click)="onClickPagination(element)">{{element}}</button>
        </li>
        <li><button type="button" class="page-link" (click)="onClickPagination(numberOfPages)">Last</button>
        </li>
    </ul>
</nav>