<div class="row">
    <div class="col-12" *ngIf="story">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                <li class="breadcrumb-item"><a
                        [routerLink]="['/cat/',story.cat_id]">{{story.catname}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{story.name}}</li>
            </ol>
        </nav>
        <h2>{{story.name}}</h2>
        <img class="img-thumbnail mb-3" [src]="story.feature_img">
        <p class="story-content">{{story.content}}</p>
        <hr>
        <span class="float-right"><em>Category:</em> {{story.catname}}</span>
    </div>
</div>